#vbox{
    -fx-background-image: url("../blue.jpg");
}
#pane{
    -fx-background-image: url("../blue.jpg");
}
#pendingAnchorPane{
    -fx-background-image: url("../blue.jpg");
    /*-fx-background-size: 760, 400;*/
    -fx-background-position: center, center;
}